<!-- navbar -->
<app-header></app-header>

  <div class="container">
    <div class="row">
      <div style="text-align: center;" class="col mt-5">
        <h1>A 5-star <span style="color: #C52031;"> Cafe POS</span> experience awaits</h1>
        <p>Make your dine-in operations super-smooth with our easy-to-use restaurant billing software</p>
      </div>
      <div class="row mt-5">
        <div class="col-6">
          <img width="550px" height="500px" src="https://www.petpooja.com/assets/images/Large-Chains/Multiple-Outlet-Reports.webp" alt="">
        </div>
        <div style="padding-left: 50px;" class="col-6 mt-5 ">
          <h1 class="mt-4" style="color: #C52031;" >Quick Billing</h1>
          <p class="mt-4">A quick 3-click Cafe billing software</p>
          <h5 class="mt-4">Take orders, punch bills. Accept payments either by splitting bill or merging tables.</h5>
          <h5 class="mt-4">Easily apply discounts and coupons. All of this, and more, is easy and quick with Cafe Management System POS.</h5>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6 mt-5">

          <h1 class="mt-4" style="color: #C52031;" >Quick Billing with Customisation</h1>
          <h5 class="mt-4">Our Cafe Pos efficiently manages multiple order sizes with different toppings and request</h5>
          <h5 class="mt-4">Diversify your pizza menu as much as your like & leave your billing & inventery your pos.</h5>
        

        </div>
        <div class="col-6">
          <img width="600px" src="https://www.petpooja.com/assets/images/Pizzeria/Quick-Billing-with-Customisation.webp" alt="">
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6">
          <img width="550px" height="480px" src="https://www.petpooja.com/assets/images/Large-Chains/Centralized-Menu-Management.webp" alt="">
        </div>
        <div style="padding-left: 50px;" class="col-6 mt-5 ">
          <h1 class="mt-4" style="color: #C52031;" >Centralized Menu Management</h1>
          
          <h5 class="mt-4">You can centrally manage your menu items and pricing, both for offline menus and online aggregators</h5>
          <h5 class="mt-4">Supply standard inventory & regulate quality checks to ensure a consistent brand experience across all channels.</h5>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-6 mt-5">

          <h1 class="mt-4" style="color: #C52031;" >Item Variations & Add-ons</h1>
          <h5 class="mt-4">Remember and deliver all the add-on customer requests without fail</h5>
          <h5 class="mt-4">Give your customers the pleasure to customise their beverages</h5>
        

        </div>
        <div class="col-6">
          <img width="600px" src="https://www.petpooja.com/assets/images/QSR/Customer-Analytics.webp" alt="">
        </div>
      </div>

    </div>
  </div>
  <br>
  <app-footer></app-footer>