
<app-header></app-header>
  <div class="container mt-4">
  
    <div class="row">
      <h1 style="color: #C52031;">Welcome {{user}}</h1>
      <!-- {{loginDate|date:'short'}} -->
    </div>
    <div class="row my-4">
      <h3>Make your restaurant billing 10x faster</h3>
      <h5>A 3-click billing process that is smart, efficient, and user-friendly! It's time for you to upgrade to Cafe Management billing software.</h5>
    </div>
    <div class="row">
      <div class="col-4">
        <img width="400px" src="https://www.petpooja.com/assets/images/pos/Quick-simple.webp" alt="">
    </div>
        <div style="padding-left: 80px;" class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://www.petpooja.com/assets/images/Pizzeria/Item-Combos-Variations-pp.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Total Category</h5>
                  <p class="card-text">Total number of category of products added in to the cart </p>
                  <a href="#" routerLink="/viewCategories" class="btn btn-primary">View Category</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="https://www.petpooja.com/assets/images/Large-Chains/Central-Kitchen-Management.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Total Products</h5>
                  <p class="card-text">Total number of products added in the cart.</p>
                  <a href="#" routerLink="/viewProduct" class="btn btn-primary">View Products</a>
                </div>
              </div>
        </div>
       <div>
        <br> <br><br>
       </div>
    </div>
  </div>
