
nav{
    height:90px; 
    width: 100%;
     position:fixed;
     top: 0;
     padding: 10px;
     z-index: 1;
     background-color: rgb(239, 246, 246);
     box-shadow: black 7px -12px 10px 6px; 
}
.navbar-brand {
    font-size: 26px;
}
.nav-item a{
    font-size: 19px;
    font-weight: 500;
}
.nav-link:hover{
    color: white;
}
.nav-link::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #C52031;
    margin: auto;
    display: block;
    border-radius: 4px;
}
.nav-link:hover::after{
    width: 100%;
    transition: width 0.3s linear;

}
img{
    
    width: 550px;
}
#scroll img{
    width: 320px;
    height: 210px;
    padding-left: 10px;
}
#scroll{
    margin-top: 5px;
}
#cardimages{
    width: 200px;
}
.cardimg{
    width: 19rem;
    height: 12rem;
}
.cardimg:hover{
    opacity: .750;
    background-color: black;
    /* width: 400px;
    height: 200px; */
    transition: .6s;
    box-shadow: 3px 5px orangered;
    border-radius: 50px;
}
.readbtn{
    color: rgb(221, 36, 22);
     border: none;
      background-color: white;
     font-size: 20px;
}